<div *ngIf="!isSearchBarMobileOpen" style="font-size:1em; color:#000000">
	<i (click)="toggleSearchBar()" class="fa fa-search"></i>
	<i class="fa fa-truck"></i>
	<i class="fa fa-shopping-cart"></i>
</div>
<div *ngIf="isSearchBarMobileOpen" class="input-group mb-3">
  <div class="input-group-append">
    <button class="btn btn-outline-info" type="button"><i class='fa fa-close' (click)="toggleSearchBar()"></i></button>
  </div>
  <input type="text" class="form-control input-outline-primary" placeholder="Search here..." aria-label="Search here..." aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-info" type="button"><i class='fa fa-search'></i></button>
  </div>
</div>