<div class="footer-holder">
	<div class="footer">
		<div class="row">
			<div class="col-lg-2">
				<h2>Useful links</h2>
				<ul>
					<li>Catalogue and brochures</li>
					<li>IKEA Store App</li>
					<li>Design &amp; Planning tools</li>
					<li>Buying guides</li>
					<li>Product guarantees</li>
					<li>Stock availability checker</li>
					<li>IKEA gift cards</li>
					<li>IKEA for Business</li>
				</ul>
			</div>
			<div class="col-lg-2">
				<h2>Online shopping</h2>
				<ul>
					<li>Your account</li>
					<li>Track your order</li>
					<li>Delivery</li>
					<li>Assembly</li>
					<li>Return policy</li>
					<li>FAQ</li>
					<li>How to shop</li>
					<li>Customer service</li>
				</ul>
			</div>
			<div class="col-lg-2">
				<h2>IKEA benefits</h2>
				<ul>
					<li>Offers & events</li>
					<li>IKEA FAMILY</li>
					<li>IKEA Services</li>
					<li>Financing services</li>
				</ul>
			</div>
			<div class="col-lg-2">
				<h2>About IKEA</h2>
				<ul>
					<li>The IKEA Concept</li>
					<li>Democratic Design</li>
					<li>IKEA highlights</li>
					<li>People and Planet</li>
					<li>Good causes</li>
					<li>Working at IKEA</li>
				</ul>
			</div>
			<div class="col-lg-2">
				<h2>In our stores</h2>
				<ul>
					<li>IKEA Alexandra</li>
					<li>IKEA Tampines</li>
					<li>Restaurant</li>
					<li>Swedish Food Market</li>
					<li>IKEA Smiles</li>
				</ul>
			</div>
			<div class="col-lg-2">
				<h2>News</h2>
				<ul>
					<li>Latest news</li>
					<li>Pressroom</li>
					<li>Media Requests</li>
					<li>Product recalls</li>
					<li>Job openings</li>
				</ul>
			</div>
		</div>
	</div>
</div>
