<ul class="nav">
<a class="nav-item nav-link" [routerLink]="['./home']" routerLinkActive="active"> HOME <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" [routerLink]="['./products']" routerLinkActive="active"> PRODUCT <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" [routerLink]="['./shop2']" routerLinkActive="active"> ROOMS</a>
<a class="nav-item nav-link" routerLinkActive="active">IDEAS</a>
<a class="nav-item nav-link" [routerLink]="['./shop3']"> About IKEA</a>
</ul>
