<ul class="navbar-nav ml-auto">
  <li class="nav-item active">
	<a class="nav-link" [routerLink]="['./home']"> Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
	<a class="nav-link" [routerLink]="['./shop']"> Product <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
	<a class="nav-link" [routerLink]="['./shop']"> Rooms</a>
  </li>
  <li class="nav-item">
	<a class="nav-link" href="#">Ideas</a>
  </li>
 <!-- <li class="nav-item dropdown" appHighlight2>
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Dropdown
	</a>
	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	  <a class="dropdown-item" href="#">Action</a>
	  <a class="dropdown-item" href="#">Another action</a>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" href="#">Something else here!</a>
	</div>
  </li>
  -->
   <li class="nav-item">
	<a class="nav-link" [routerLink]="['./shop']"> About IKEA</a>
  </li>
</ul>