<nav class="menubar-mobile nav nav-pills nav-fill">
	<a class="nav-item nav-link" [routerLink]="['./products']" routerLinkActive="active"> Home <span class="sr-only">(current)</span></a>
	<a class="nav-item nav-link" [routerLink]="['./m.shop']" routerLinkActive="active"> Product <span class="sr-only">(current)</span></a>
	<a class="nav-item nav-link" [routerLink]="['/shop2']" routerLinkActive="active"> Rooms</a>
	<a class="nav-item nav-link" [routerLink]="['/shop3']"routerLinkActive="active">Ideas</a>
</nav>
