<div [ngClass]="{ 'product-detail': deviceType == 'pc', 'product-detail-mobile': deviceType == 'mobile' }">
	<div class="row">
		<div class="col-lg-6">
			<div class="container">
				<div class="row">
					<img #imageCarousel src="{{product[0].imgFilename2}}" alt="">
				</div>
				<div class="row">
					<ol *ngIf="productImages.length > 0" class="carousel-indicators-custom">
						<li (click)="changePhoto(product[0].imgFilename2)" id="slide-indi-0">
							<img src="{{product[0].imgFilename2}}" alt="">
						</li>
						<li (click)="changePhoto(productImage['mainImg'])" *ngFor="let productImage of productImages; let i = index" id="slide-indi-{{i + 1}}">
							<img src="{{productImage['mainImg']}}" alt="">
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<p class="prod-title">{{product[0].name}}</p>
			<p class="prod-desc">{{product[0].desc}}</p>
			<p class="prod-price">${{product[0].price}}</p>
			<p class="prod-salesArg">{{product[0].salesArg}}</p>
			<button class="prod-btn-buy">Buy online</button>
			<button class="prod-btn-save">Save to list</button>
		</div>
		
	</div>
</div>
