<div class="container d-inline-flex">
<a class="prevUrl" (click)="goToPrevUrl()"><i class='fa fa-arrow-left'></i></a>

<div class="input-group mb-3">
  <input type="text" class="form-control input-outline-info" 
	placeholder="Search here..."
	aria-label="Search here..." aria-describedby="basic-addon2"
	#inputSearch (keyup)="keyPresss()"
  >
  <div class="input-group-append">
    <button class="btn btn-outline-info" type="button" (click)="resetSearchText()"><i class='fa fa-close'></i></button>
  </div>
</div>
</div>
<app-product-list-item *ngFor="let product of products | productSearchFilterPipe:inputSearch3" [props]="{product:product, detailUrl: '../../' + product.menuCategory + '/' + product.menuSubCategory + '/detail', productViewType: 'product-list'}">
</app-product-list-item>
