<div class="product-menu-category">
	<ul>
	  <a [routerLink]="['./Baby']" routerLinkActive="active">Baby <span class="badge"><i class="fa fa-angle-right"></i></span></a>
	  <a [routerLink]="['./Bathroom Furniture']" routerLinkActive="active">Bathroom Furniture <span class="badge"><i class="fa fa-angle-right"></i></span></a>
	  <a [routerLink]="['./Beds']" routerLinkActive="active">Beds <span class="badge"><i class="fa fa-angle-right"></i></span></a>
	  <a [routerLink]="['./Cabinets']" routerLinkActive="active">Cabinets <span class="badge"><i class="fa fa-angle-right"></i></span></a>
	  <a [routerLink]="['./Chairs']" routerLinkActive="active">Chairs <span class="badge"><i class="fa fa-angle-right"></i></span></a>
	  <a [routerLink]="['./Decorations']" routerLinkActive="active">Decorations <span class="badge"><i class="fa fa-angle-right"></i></span></a>
	  <a [routerLink]="['./Kitchen Furniture']" routerLinkActive="active">Kitchen Furniture <span class="badge"><i class="fa fa-angle-right"></i></span></a>
	  <a [routerLink]="['./Laundry Cleaning']" routerLinkActive="active">Laundry & Cleaning <span class="badge"><i class="fa fa-angle-right"></i></span></a>
	  <a [routerLink]="['./Lightning']" routerLinkActive="active">Lightning <span class="badge"><i class="fa fa-angle-right"></i></span></a>
	  <a [routerLink]="['./OpenShelvingAndRacking']" routerLinkActive="active">Open Shelving & Racking <span class="badge"><i class="fa fa-angle-right"></i></span></a>
	</ul>
</div>