<div class="container" (window:resize)="onResize($event)">
	<div *ngIf="!isSearchBarMobileOpen2" class="row">
		<div class="col col-lg-12">
			<app-header *ngIf="show"></app-header>
			<app-header-mobile *ngIf="showMobile"></app-header-mobile>
			<breadcrumb [allowBootstrap]="true"></breadcrumb>
		</div>
	</div>
	<router-outlet></router-outlet>
</div>

<app-footer *ngIf="show" ></app-footer>
<app-footer-mobile *ngIf="showMobile && !isSearchBarMobileOpen2"></app-footer-mobile>

<div *ngIf="show" class="copyright-holder">
	<div class="copyright">
		<div class="row">
			<div class="col col-lg-12">
				<app-copyright ></app-copyright>
			</div>
		</div>
	</div>
</div>


