<div class="input-group mb-3">
  <input type="text" class="form-control input-outline-primary" placeholder="Search here..." aria-label="Search here..." aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button"><i class='fa fa-search'></i></button>
  </div>
</div>

<h5>PRODUCTS</h5>
<ul class="list-group list-group-flush">
  <li class="list-group-item"> > Baby </li>
  <li class="list-group-item"> > Bathroom Furniture</li>
  <li class="list-group-item"> > Beds</li>
  <li class="list-group-item"> > Cabinets</li>
  <li class="list-group-item"> > Decorations</li>
  <li class="list-group-item"> > Kitchen Furniture</li>
  <li class="list-group-item"> > Laundry & Cleaning</li>
  <li class="list-group-item"> > Lightning</li>
  <li class="list-group-item"> > Open Shelving & Racking</li>
  <li class="list-group-item"> > Outdoor Furniture</li>
  <li class="list-group-item"> > Rugs</li>
  <li class="list-group-item"> > Sofas</li>
  <li class="list-group-item"> > Tableware</li>
</ul>