<!--{{category}}
<div *ngIf="deviceType == 'pc'; then thenBlock; else elseBlock">this is ignored</div>
<!--<ng-template #thenBlock>
	<div class="card-group">
		<div class="col-4" *ngFor="let productCategory of productCategories | productFilterByCategoryPipe:category" >
			<app-product-category-selection-item [prodCatProps]="{productCategory: productCategory, parentUrl: parentUrl, productViewType: productViewType}"></app-product-category-selection-item>
		</div>
	</div>
</ng-template>
<ng-template #elseBlock>
	
</ng-template>

<div class="card-group">
		<div class="col-4" *ngFor="let productCategory of productCategories | productFilterByCategoryPipe:category" >
			<app-product-category-selection-item [prodCatProps]="{productCategory: productCategory, parentUrl: parentUrl, productViewType: productViewType}"></app-product-category-selection-item>
		</div>
	</div>-->
