<h5>TAGS</h5>
<button type="button" class="btn btn-outline-primary btn-sm">Brand</button>
<button type="button" class="btn btn-outline-primary btn-sm">Fashion</button>
<button type="button" class="btn btn-outline-primary btn-sm">Brand</button>
<button type="button" class="btn btn-outline-primary btn-sm">Winter Sale</button>
<button type="button" class="btn btn-outline-primary btn-sm">Summer Sale</button>
<button type="button" class="btn btn-outline-primary btn-sm">Men</button>
<button type="button" class="btn btn-outline-primary btn-sm">Women</button>
<button type="button" class="btn btn-outline-primary btn-sm">Kids</button>


