.container {
	padding: 0px;
	line-height: 1rem;
}
.prevUrl {
	padding-left: 1rem;
	padding-right: .50rem;
	margin-right: .50rem;
	margin-top: 12px;
	line-height: 2rem;
}
i {
	padding: 0px;
}
.btn {
	line-height: 1rem;
	box-shadow:none !important;
}

.input-group {
	margin-top: 15px;
	margin-right: 15px;
	height: 30px;
}
input[type="text"], textarea {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	outline: none;
	box-shadow:none !important;
	border: 1px solid #17a2b8;
	height: 30px;
	
}

